<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="FolderRules.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <userSettings>
        <FolderRules.Properties.Settings>
            <setting name="DefaultDirectory" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="System_folders" serializeAs="String">
                <value>$Recycle.Bin
System Volume Information
GAG_MSIL
</value>
            </setting>
            <setting name="System_users" serializeAs="String">
                <value>СОЗДАТЕЛЬ-ВЛАДЕЛЕЦ
BUILTIN
NT AUTHORITY</value>
            </setting>
            <setting name="Ignore_system_directories" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Ignore_system_users" serializeAs="String">
                <value>False</value>
            </setting>
        </FolderRules.Properties.Settings>
    </userSettings>
</configuration>
